# Tuple tutorial

1. tuple is ordered
2. tuple is immutable
3. tuple can contain duplicate values

In [30]:
a = ('Hello', True, 1, 1)
print(type(a))

<class 'tuple'>

In [5]:
len(a)

2

In [6]:
a[0]

'Hello'

In [10]:
a[0] = "World"

TypeError: 'tuple' object does not support item assignment

In [11]:
a[0:2]

('Hello', True)

In [12]:
a[10]

IndexError: tuple index out of range

In [13]:
a.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
a.count(1)

3

In [32]:
a

('Hello', True, 1, 1)

In [33]:
a.index(True)

1

In [36]:
res = divmod(20, 6)
print(res)
print(type(res))

(3, 2)
<class 'tuple'>

In [37]:
res[0]

3

In [38]:
res[1]

2

In [39]:
x, y = divmod(20, 6)

In [42]:
mytuple = ("apple", "banana", "cherry")

In [43]:
x, y, z = mytuple

In [46]:
print(z)

cherry

In [58]:
*x, y, z = ("apple", "banana", "cherry", 'melon', 'orange', 'lemon')

In [59]:
x

['apple', 'banana', 'cherry', 'melon']

In [60]:
y

'orange'

In [61]:
z

'lemon'

In [64]:
'Cherry' in mytuple

False

### Bo'sh tuple yaratish

In [72]:
a = ()

### Bitta elementli tuple

In [71]:
a = (1,)
type(a)

tuple