In [3]:
import pandas as pd

In [4]:
data = [
    ["John", 40],
    ["Adam", 30]
]

df = pd.DataFrame(data=data, columns=["first_name", 'age'])

In [5]:
df

  first_name  age
0       John   40
1       Adam   30

In [7]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.columns

Index(['first_name', 'age'], dtype='object')

In [8]:
df = pd.read_csv("movie.csv")

In [10]:
df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [15]:
df[['color', 'num_critic_for_reviews', 'duration']]

      color  num_critic_for_reviews  duration
0     Color                   723.0     178.0
1     Color                   302.0     169.0
2     Color                   602.0     148.0
3     Color                   813.0     164.0
4       NaN                     NaN       NaN
...     ...                     ...       ...
4911  Color                     1.0      87.0
4912  Color                    43.0      43.0
4913  Color                    13.0      76.0
4914  Color                    14.0     100.0
4915  Color                    43.0      90.0

[4916 rows x 3 columns]

In [ ]:
type(df[['color', 'duration']])

pandas.core.frame.DataFrame

In [19]:
a = df['duration'] > 120

In [21]:
a

0        True
1        True
2        True
3        True
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: duration, Length: 4916, dtype: bool

In [34]:
df = pd.read_csv("movie.csv")
df[df['duration'] > 120]['duration'].count()

np.int64(1039)