In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Demo').getOrCreate()

In [2]:
spark

In [4]:
import pandas as pd

In [6]:
movie_pd = pd.read_csv('data/movie.csv')
type(movie_pd)

pandas.core.frame.DataFrame

In [9]:
movie_pd.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [38]:
df = spark.read.csv('data/movie.csv', header=True, inferSchema=True)
type(df)

pyspark.sql.dataframe.DataFrame

In [39]:
df.show(3)

+-----+--------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
|color| director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|    actor_2_name|actor_1_facebook_likes|       gross|              genres|   actor_1_name|         movie_title|num_voted_users|cast_total_facebook_likes|    actor_3_name|facenumber_in_poster|       plot_keywords|     movie_imdb_link|num_user_for_reviews|language|country|content_rating|budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+-----+--------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
|Color| James Cameron|                 723.0|   178.0|                    0.0|                 855.0|Joel David Moore|                1000.0|7.60505847E8|Action|Adventure|...|    CCH Pounder|              Avatar|         886204|                     4834|       Wes Studi|                 0.0|avatar|future|mar...|http://www.imdb.c...|              3054.0| English|    USA|         PG-13|2.37E8|    2009.0|                 936.0|       7.9|        1.78|               33000|
|Color|Gore Verbinski|                 302.0|   169.0|                  563.0|                1000.0|   Orlando Bloom|               40000.0|3.09404152E8|Action|Adventure|...|    Johnny Depp|Pirates of the Ca...|         471220|                    48350|  Jack Davenport|                 0.0|goddess|marriage ...|http://www.imdb.c...|              1238.0| English|    USA|         PG-13| 3.0E8|    2007.0|                5000.0|       7.1|        2.35|                   0|
|Color|    Sam Mendes|                 602.0|   148.0|                    0.0|                 161.0|    Rory Kinnear|               11000.0|2.00074175E8|Action|Adventure|...|Christoph Waltz|             Spectre|         275868|                    11700|Stephanie Sigman|                 1.0|bomb|espionage|se...|http://www.imdb.c...|               994.0| English|     UK|         PG-13|2.45E8|    2015.0|                 393.0|       6.8|        2.35|               85000|
+-----+--------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
only showing top 3 rows

In [18]:
movie.printSchema()

root
 |-- color: string (nullable = true)
 |-- director_name: string (nullable = true)
 |-- num_critic_for_reviews: double (nullable = true)
 |-- duration: double (nullable = true)
 |-- director_facebook_likes: double (nullable = true)
 |-- actor_3_facebook_likes: double (nullable = true)
 |-- actor_2_name: string (nullable = true)
 |-- actor_1_facebook_likes: double (nullable = true)
 |-- gross: double (nullable = true)
 |-- genres: string (nullable = true)
 |-- actor_1_name: string (nullable = true)
 |-- movie_title: string (nullable = true)
 |-- num_voted_users: integer (nullable = true)
 |-- cast_total_facebook_likes: integer (nullable = true)
 |-- actor_3_name: string (nullable = true)
 |-- facenumber_in_poster: double (nullable = true)
 |-- plot_keywords: string (nullable = true)
 |-- movie_imdb_link: string (nullable = true)
 |-- num_user_for_reviews: double (nullable = true)
 |-- language: string (nullable = true)
 |-- country: string (nullable = true)
 |-- content_rating: string (nullable = true)
 |-- budget: double (nullable = true)
 |-- title_year: double (nullable = true)
 |-- actor_2_facebook_likes: double (nullable = true)
 |-- imdb_score: double (nullable = true)
 |-- aspect_ratio: double (nullable = true)
 |-- movie_facebook_likes: integer (nullable = true)

In [20]:
movie.columns

['color',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'movie_title',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

In [24]:
movie_pd[['color', 'director_name']].head(2)

   color   director_name
0  Color   James Cameron
1  Color  Gore Verbinski

In [ ]:
df.select('color', 'country').show(2)

+-----+-------+
|color|country|
+-----+-------+
|Color|    USA|
|Color|    USA|
+-----+-------+
only showing top 2 rows

In [45]:
df.select(df.color, df.country).show(2)

+-----+-------+
|color|country|
+-----+-------+
|Color|    USA|
|Color|    USA|
+-----+-------+
only showing top 2 rows

In [47]:
df.select(df['color'].alias('Color'), df['country']).show(2)

+-----+-------+
|Color|country|
+-----+-------+
|Color|    USA|
|Color|    USA|
+-----+-------+
only showing top 2 rows

In [51]:
from pyspark.sql.functions import col

df.select(col('color').alias('Color'), 'country').show(2)

+-----+-------+
|Color|country|
+-----+-------+
|Color|    USA|
|Color|    USA|
+-----+-------+
only showing top 2 rows

In [ ]:
df.orderBy(col('imdb_score').desc()).show(5)

+-----+--------------------+----------------------+--------+-----------------------+----------------------+---------------+----------------------+------------+-----------+--------------+--------------------+---------------+-------------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+---------+----------+----------------------+----------+------------+--------------------+
|color|       director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|   actor_2_name|actor_1_facebook_likes|       gross|     genres|  actor_1_name|         movie_title|num_voted_users|cast_total_facebook_likes|       actor_3_name|facenumber_in_poster|       plot_keywords|     movie_imdb_link|num_user_for_reviews|language|country|content_rating|   budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+-----+--------------------+----------------------+--------+-----------------------+----------------------+---------------+----------------------+------------+-----------+--------------+--------------------+---------------+-------------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+---------+----------+----------------------+----------+------------+--------------------+
|Color|      John Blanchard|                  null|    65.0|                    0.0|                 176.0|  Andrea Martin|                 770.0|        null|     Comedy|  Martin Short|    Towering Inferno|             10|                     1125|       Joe Flaherty|                 2.0|                null|http://www.imdb.c...|                null| English| Canada|          null|     null|      null|                 179.0|       9.5|        1.33|                   0|
|Color|      Frank Darabont|                 199.0|   142.0|                    0.0|                 461.0| Jeffrey DeMunn|               11000.0| 2.8341469E7|Crime|Drama|Morgan Freeman|The Shawshank Red...|        1689764|                    13495|         Bob Gunton|                 0.0|escape from priso...|http://www.imdb.c...|              4144.0| English|    USA|             R|    2.5E7|    1994.0|                 745.0|       9.3|        1.85|              108000|
|Color|Francis Ford Coppola|                 208.0|   175.0|                    0.0|                3000.0|  Marlon Brando|               14000.0|1.34821952E8|Crime|Drama|     Al Pacino|       The Godfather|        1155770|                    28122|      Robert Duvall|                 1.0|crime family|mafi...|http://www.imdb.c...|              2238.0| English|    USA|             R|6000000.0|    1972.0|               10000.0|       9.2|        1.85|               43000|
| null|      John Stockwell|                   2.0|    90.0|                  134.0|                 354.0|     T.J. Storm|              260000.0|        null|     Action|  Matthew Ziff|Kickboxer: Vengeance|            246|                   261818|         Sam Medina|                 5.0|                null|http://www.imdb.c...|                 1.0|    null|    USA|          null|    1.7E7|    2016.0|                 454.0|       9.1|        null|                   0|
|Color|                null|                  53.0|    55.0|                   null|                   2.0|Olaf Lubaszenko|                  20.0|    447093.0|      Drama|Krystyna Janda|             Dekalog|          12590|                       25|Olgierd Lukaszewicz|                 0.0|meaning of life|m...|http://www.imdb.c...|                37.0|  Polish| Poland|         TV-MA|     null|      null|                   3.0|       9.1|        1.33|                   0|
+-----+--------------------+----------------------+--------+-----------------------+----------------------+---------------+----------------------+------------+-----------+--------------+--------------------+---------------+-------------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+---------+----------+----------------------+----------+------------+--------------------+
only showing top 5 rows

In [66]:
df.withColumnRenamed('num_critic_for_reviews', 'num_rew').show(5)

+-----+-----------------+-------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
|color|    director_name|num_rew|duration|director_facebook_likes|actor_3_facebook_likes|    actor_2_name|actor_1_facebook_likes|       gross|              genres|   actor_1_name|         movie_title|num_voted_users|cast_total_facebook_likes|        actor_3_name|facenumber_in_poster|       plot_keywords|     movie_imdb_link|num_user_for_reviews|language|country|content_rating|budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+-----+-----------------+-------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
|Color|    James Cameron|  723.0|   178.0|                    0.0|                 855.0|Joel David Moore|                1000.0|7.60505847E8|Action|Adventure|...|    CCH Pounder|              Avatar|         886204|                     4834|           Wes Studi|                 0.0|avatar|future|mar...|http://www.imdb.c...|              3054.0| English|    USA|         PG-13|2.37E8|    2009.0|                 936.0|       7.9|        1.78|               33000|
|Color|   Gore Verbinski|  302.0|   169.0|                  563.0|                1000.0|   Orlando Bloom|               40000.0|3.09404152E8|Action|Adventure|...|    Johnny Depp|Pirates of the Ca...|         471220|                    48350|      Jack Davenport|                 0.0|goddess|marriage ...|http://www.imdb.c...|              1238.0| English|    USA|         PG-13| 3.0E8|    2007.0|                5000.0|       7.1|        2.35|                   0|
|Color|       Sam Mendes|  602.0|   148.0|                    0.0|                 161.0|    Rory Kinnear|               11000.0|2.00074175E8|Action|Adventure|...|Christoph Waltz|             Spectre|         275868|                    11700|    Stephanie Sigman|                 1.0|bomb|espionage|se...|http://www.imdb.c...|               994.0| English|     UK|         PG-13|2.45E8|    2015.0|                 393.0|       6.8|        2.35|               85000|
|Color|Christopher Nolan|  813.0|   164.0|                22000.0|               23000.0|  Christian Bale|               27000.0|4.48130642E8|     Action|Thriller|      Tom Hardy|The Dark Knight R...|        1144337|                   106759|Joseph Gordon-Levitt|                 0.0|deception|impriso...|http://www.imdb.c...|              2701.0| English|    USA|         PG-13| 2.5E8|    2012.0|               23000.0|       8.5|        2.35|              164000|
| null|      Doug Walker|   null|    null|                  131.0|                  null|      Rob Walker|                 131.0|        null|         Documentary|    Doug Walker|Star Wars: Episod...|              8|                      143|                null|                 0.0|                null|http://www.imdb.c...|                null|    null|   null|          null|  null|      null|                  12.0|       7.1|        null|                   0|
+-----+-----------------+-------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
only showing top 5 rows

In [75]:
from pyspark.sql.functions import when

(df.withColumn(
    'status', when(df.imdb_score < 4, 'low')
            .when(df.imdb_score < 7, 'medium')
            .otherwise('high')
).select('color', 'director_name', 'imdb_score', 'status'
).filter("status == 'medium'")
.show(5)
)

+-----+--------------+----------+------+
|color| director_name|imdb_score|status|
+-----+--------------+----------+------+
|Color|    Sam Mendes|       6.8|medium|
|Color|Andrew Stanton|       6.6|medium|
|Color|     Sam Raimi|       6.2|medium|
|Color|   Zack Snyder|       6.9|medium|
|Color|  Bryan Singer|       6.1|medium|
+-----+--------------+----------+------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import when

(df.withColumn(
    'status', when(df.imdb_score < 4, 'low')
            .when(df.imdb_score < 7, 'medium')
            .otherwise('high')
).select('color', 'director_name', 'imdb_score', 'status'
).filter(col('status') == 'medium')
.show(5)
)

+-----+--------------+----------+------+
|color| director_name|imdb_score|status|
+-----+--------------+----------+------+
|Color|    Sam Mendes|       6.8|medium|
|Color|Andrew Stanton|       6.6|medium|
|Color|     Sam Raimi|       6.2|medium|
|Color|   Zack Snyder|       6.9|medium|
|Color|  Bryan Singer|       6.1|medium|
+-----+--------------+----------+------+
only showing top 5 rows

In [81]:
df.filter(df['num_critic_for_reviews'].isNotNull()).show(5)

+-----+-----------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+-------+----------+----------------------+----------+------------+--------------------+
|color|    director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|    actor_2_name|actor_1_facebook_likes|       gross|              genres|   actor_1_name|         movie_title|num_voted_users|cast_total_facebook_likes|        actor_3_name|facenumber_in_poster|       plot_keywords|     movie_imdb_link|num_user_for_reviews|language|country|content_rating| budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+-----+-----------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+-------+----------+----------------------+----------+------------+--------------------+
|Color|    James Cameron|                 723.0|   178.0|                    0.0|                 855.0|Joel David Moore|                1000.0|7.60505847E8|Action|Adventure|...|    CCH Pounder|              Avatar|         886204|                     4834|           Wes Studi|                 0.0|avatar|future|mar...|http://www.imdb.c...|              3054.0| English|    USA|         PG-13| 2.37E8|    2009.0|                 936.0|       7.9|        1.78|               33000|
|Color|   Gore Verbinski|                 302.0|   169.0|                  563.0|                1000.0|   Orlando Bloom|               40000.0|3.09404152E8|Action|Adventure|...|    Johnny Depp|Pirates of the Ca...|         471220|                    48350|      Jack Davenport|                 0.0|goddess|marriage ...|http://www.imdb.c...|              1238.0| English|    USA|         PG-13|  3.0E8|    2007.0|                5000.0|       7.1|        2.35|                   0|
|Color|       Sam Mendes|                 602.0|   148.0|                    0.0|                 161.0|    Rory Kinnear|               11000.0|2.00074175E8|Action|Adventure|...|Christoph Waltz|             Spectre|         275868|                    11700|    Stephanie Sigman|                 1.0|bomb|espionage|se...|http://www.imdb.c...|               994.0| English|     UK|         PG-13| 2.45E8|    2015.0|                 393.0|       6.8|        2.35|               85000|
|Color|Christopher Nolan|                 813.0|   164.0|                22000.0|               23000.0|  Christian Bale|               27000.0|4.48130642E8|     Action|Thriller|      Tom Hardy|The Dark Knight R...|        1144337|                   106759|Joseph Gordon-Levitt|                 0.0|deception|impriso...|http://www.imdb.c...|              2701.0| English|    USA|         PG-13|  2.5E8|    2012.0|               23000.0|       8.5|        2.35|              164000|
|Color|   Andrew Stanton|                 462.0|   132.0|                  475.0|                 530.0| Samantha Morton|                 640.0| 7.3058679E7|Action|Adventure|...|   Daryl Sabara|         John Carter|         212204|                     1873|        Polly Walker|                 1.0|alien|american ci...|http://www.imdb.c...|               738.0| English|    USA|         PG-13|2.637E8|    2012.0|                 632.0|       6.6|        2.35|               24000|
+-----+-----------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+-------+----------+----------------------+----------+------------+--------------------+
only showing top 5 rows

In [84]:
df.na.drop().filter(df['num_critic_for_reviews'].isNull()).show(5)

+-----+-------------+----------------------+--------+-----------------------+----------------------+------------+----------------------+-----+------+------------+-----------+---------------+-------------------------+------------+--------------------+-------------+---------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
|color|director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|actor_2_name|actor_1_facebook_likes|gross|genres|actor_1_name|movie_title|num_voted_users|cast_total_facebook_likes|actor_3_name|facenumber_in_poster|plot_keywords|movie_imdb_link|num_user_for_reviews|language|country|content_rating|budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+-----+-------------+----------------------+--------+-----------------------+----------------------+------------+----------------------+-----+------+------------+-----------+---------------+-------------------------+------------+--------------------+-------------+---------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
+-----+-------------+----------------------+--------+-----------------------+----------------------+------------+----------------------+-----+------+------------+-----------+---------------+-------------------------+------------+--------------------+-------------+---------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+

In [86]:
df1 = df.filter(df['num_critic_for_reviews'].isNull()).select('color', 'director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes')

In [90]:
df1.na.drop(thresh=5).show(5)

+-----+-------------------+----------------------+--------+-----------------------+----------------------+
|color|      director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|
+-----+-------------------+----------------------+--------+-----------------------+----------------------+
|Color|         Jane Clark|                  null|     7.0|                   23.0|                  51.0|
|Color|Jonathan Jakubowicz|                  null|   105.0|                   23.0|                 897.0|
|Color|         Dan Curtis|                  null|    99.0|                   45.0|                 224.0|
|Color|     John Blanchard|                  null|    65.0|                    0.0|                 176.0|
|Color|  Niels Arden Oplev|                  null|    88.0|                   76.0|                  75.0|
+-----+-------------------+----------------------+--------+-----------------------+----------------------+
only showing top 5 rows

In [94]:
(
df.na.
drop(subset=['num_critic_for_reviews', 'color'])
.filter(col('color').isNull())
.show()
)

+-----+-------------+----------------------+--------+-----------------------+----------------------+------------+----------------------+-----+------+------------+-----------+---------------+-------------------------+------------+--------------------+-------------+---------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
|color|director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|actor_2_name|actor_1_facebook_likes|gross|genres|actor_1_name|movie_title|num_voted_users|cast_total_facebook_likes|actor_3_name|facenumber_in_poster|plot_keywords|movie_imdb_link|num_user_for_reviews|language|country|content_rating|budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+-----+-------------+----------------------+--------+-----------------------+----------------------+------------+----------------------+-----+------+------------+-----------+---------------+-------------------------+------------+--------------------+-------------+---------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
+-----+-------------+----------------------+--------+-----------------------+----------------------+------------+----------------------+-----+------+------------+-----------+---------------+-------------------------+------------+--------------------+-------------+---------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+

In [98]:
df.na.fill(0).show(5)

+-----+-----------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
|color|    director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|    actor_2_name|actor_1_facebook_likes|       gross|              genres|   actor_1_name|         movie_title|num_voted_users|cast_total_facebook_likes|        actor_3_name|facenumber_in_poster|       plot_keywords|     movie_imdb_link|num_user_for_reviews|language|country|content_rating|budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+-----+-----------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
|Color|    James Cameron|                 723.0|   178.0|                    0.0|                 855.0|Joel David Moore|                1000.0|7.60505847E8|Action|Adventure|...|    CCH Pounder|              Avatar|         886204|                     4834|           Wes Studi|                 0.0|avatar|future|mar...|http://www.imdb.c...|              3054.0| English|    USA|         PG-13|2.37E8|    2009.0|                 936.0|       7.9|        1.78|               33000|
|Color|   Gore Verbinski|                 302.0|   169.0|                  563.0|                1000.0|   Orlando Bloom|               40000.0|3.09404152E8|Action|Adventure|...|    Johnny Depp|Pirates of the Ca...|         471220|                    48350|      Jack Davenport|                 0.0|goddess|marriage ...|http://www.imdb.c...|              1238.0| English|    USA|         PG-13| 3.0E8|    2007.0|                5000.0|       7.1|        2.35|                   0|
|Color|       Sam Mendes|                 602.0|   148.0|                    0.0|                 161.0|    Rory Kinnear|               11000.0|2.00074175E8|Action|Adventure|...|Christoph Waltz|             Spectre|         275868|                    11700|    Stephanie Sigman|                 1.0|bomb|espionage|se...|http://www.imdb.c...|               994.0| English|     UK|         PG-13|2.45E8|    2015.0|                 393.0|       6.8|        2.35|               85000|
|Color|Christopher Nolan|                 813.0|   164.0|                22000.0|               23000.0|  Christian Bale|               27000.0|4.48130642E8|     Action|Thriller|      Tom Hardy|The Dark Knight R...|        1144337|                   106759|Joseph Gordon-Levitt|                 0.0|deception|impriso...|http://www.imdb.c...|              2701.0| English|    USA|         PG-13| 2.5E8|    2012.0|               23000.0|       8.5|        2.35|              164000|
| null|      Doug Walker|                   0.0|     0.0|                  131.0|                   0.0|      Rob Walker|                 131.0|         0.0|         Documentary|    Doug Walker|Star Wars: Episod...|              8|                      143|                null|                 0.0|                null|http://www.imdb.c...|                 0.0|    null|   null|          null|   0.0|       0.0|                  12.0|       7.1|         0.0|                   0|
+-----+-----------------+----------------------+--------+-----------------------+----------------------+----------------+----------------------+------------+--------------------+---------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+------+----------+----------------------+----------+------------+--------------------+
only showing top 5 rows

In [99]:
fis = spark.read.csv('data/adv/fact_internet_sales.csv', header=True, inferSchema=True)
customer = spark.read.csv('data/adv/dim_customer.csv', header=True, inferSchema=True)
currency = spark.read.csv('data/adv/dim_currency.csv', header=True, inferSchema=True)

In [113]:
from pyspark.sql import functions as fn
(
fis
.groupBy('ProductKey')
.agg(fn.sum('SalesAmount'), fn.avg('SalesAmount').alias('SalesAmount'))
.withColumnRenamed('sum(SalesAmount)', 'SalesAmount')
.show(5)
)

+----------+------------------+------------------+
|ProductKey|       SalesAmount|       SalesAmount|
+----------+------------------+------------------+
|       463|11951.119999999932| 24.48999999999986|
|       471|           10668.0|              63.5|
|       540|27970.799999999792| 32.59999999999976|
|       580| 418443.5399999991|1700.9899999999964|
|       588| 98494.72000000006| 769.4900000000005|
+----------+------------------+------------------+
only showing top 5 rows

In [115]:
fis_pd = pd.read_csv('data/adv/fact_internet_sales.csv')
customer_pd = pd.read_csv('data/adv/dim_customer.csv')
currency_pd = pd.read_csv('data/adv/dim_currency.csv')

In [114]:
fis_pd.groupby('ProductKey', as_index=False)['SalesAmount'].agg(['sum', 'mean'])

     ProductKey        sum    mean
0           214   78027.70   34.99
1           217   72954.15   34.99
2           222   74353.75   34.99
3           225   19688.10    8.99
4           228   21445.71   49.99
..          ...        ...     ...
153         599   30239.44  539.99
154         600   22139.59  539.99
155         604  194396.40  539.99
156         605  196016.37  539.99
157         606  208436.14  539.99

[158 rows x 3 columns]

In [ ]:
(
fis
.join(currency, on='CurrencyKey', how='inner')
.join(customer, on='CustomerKey')
.show(5)
)

+-----------+-----------+----------+------------+-------------+---------+--------------+--------------------+--------------+-------------------+----------------+-----------+--------+-------+--------------------+-----------------+---------+----------+--------+---------+-------------------+-------------+------+------+--------------------+------------+-------------+-------------------+------------+-------------------+
|CustomerKey|CurrencyKey|ProductKey|OrderDateKey|OrderQuantity|UnitPrice|ExtendedAmount|UnitPriceDiscountPct|DiscountAmount|ProductStandardCost|TotalProductCost|SalesAmount|  TaxAmt|Freight|CurrencyAlternateKey|     CurrencyName|FirstName|MiddleName|LastName|NameStyle|          BirthDate|MaritalStatus|Suffix|Gender|        EmailAddress|YearlyIncome|TotalChildren|       AddressLine1|AddressLine2|              Phone|
+-----------+-----------+----------+------------+-------------+---------+--------------+--------------------+--------------+-------------------+----------------+-----------+--------+-------+--------------------+-----------------+---------+----------+--------+---------+-------------------+-------------+------+------+--------------------+------------+-------------+-------------------+------------+-------------------+
|      21768|         19|       310|    20101229|            1|  3578.27|       3578.27|                 0.0|           0.0|          2171.2942|       2171.2942|    3578.27|286.2616|89.4568|                 CAD|  Canadian Dollar|     Cole|         A|  Watson|    false|1952-02-19 00:00:00|            S|  null|     M|cole1@adventure-w...|     70000.0|            5|   601 Asilomar Dr.|        null|       110-555-0129|
|      28389|         39|       346|    20101229|            1|  3399.99|       3399.99|                 0.0|           0.0|          1912.1544|       1912.1544|    3399.99|271.9992|84.9998|                 FRF|     French Franc|  Rachael|         M|Martinez|    false|1970-06-17 00:00:00|            S|  null|     F|rachael16@adventu...|     20000.0|            3| 14, avenue du Port|        null|1 (11) 500 555-0190|
|      25863|        100|       346|    20101229|            1|  3399.99|       3399.99|                 0.0|           0.0|          1912.1544|       1912.1544|    3399.99|271.9992|84.9998|                 USD|        US Dollar|   Sydney|         S|  Wright|    false|1952-06-01 00:00:00|            S|  null|     F|sydney61@adventur...|     40000.0|            5|4193 E. 28th Street|        null|       285-555-0113|
|      14501|        100|       336|    20101229|            1| 699.0982|      699.0982|                 0.0|           0.0|           413.1463|        413.1463|   699.0982| 55.9279|17.4775|                 USD|        US Dollar|    Ruben|      null|  Prasad|    false|1943-11-10 00:00:00|            M|  null|     M|ruben10@adventure...|     80000.0|            4|  249 Alexander Pl.|        null|       175-555-0159|
|      11003|          6|       346|    20101229|            1|  3399.99|       3399.99|                 0.0|           0.0|          1912.1544|       1912.1544|    3399.99|271.9992|84.9998|                 AUD|Australian Dollar|  Christy|      null|     Zhu|    false|1973-08-14 00:00:00|            S|  null|     F|christy12@adventu...|     70000.0|            0|   1825 Village Pl.|        null|1 (11) 500 555-0162|
+-----------+-----------+----------+------------+-------------+---------+--------------+--------------------+--------------+-------------------+----------------+-----------+--------+-------+--------------------+-----------------+---------+----------+--------+---------+-------------------+-------------+------+------+--------------------+------------+-------------+-------------------+------------+-------------------+
only showing top 5 rows

In [127]:
(
fis_pd
    .merge(currency_pd, on='CurrencyKey',  how='inner')
    .merge(customer_pd, on='CustomerKey')
).head()

,ProductKey,OrderDateKey,CustomerKey,CurrencyKey,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,...,BirthDate,MaritalStatus,Suffix,Gender,EmailAddress,YearlyIncome,TotalChildren,AddressLine1,AddressLine2,Phone
0,310,20101229,21768,19,1,3578.2700,3578.2700,0.0,0.0,2171.2942,...,1952-02-19,S,NaN,M,cole1@adventure-works.com,70000.0,5,601 Asilomar Dr.,NaN,110-555-0129
1,346,20101229,28389,39,1,3399.9900,3399.9900,0.0,0.0,1912.1544,...,1970-06-17,S,NaN,F,rachael16@adventure-works.com,20000.0,3,"14, avenue du Port",NaN,1 (11) 500 555-0190
2,346,20101229,25863,100,1,3399.9900,3399.9900,0.0,0.0,1912.1544,...,1952-06-01,S,NaN,F,sydney61@adventure-works.com,40000.0,5,4193 E. 28th Street,NaN,285-555-0113
3,336,20101229,14501,100,1,699.0982,699.0982,0.0,0.0,413.1463,...,1943-11-10,M,NaN,M,ruben10@adventure-works.com,80000.0,4,249 Alexander Pl.,NaN,175-555-0159
4,346,20101229,11003,6,1,3399.9900,3399.9900,0.0,0.0,1912.1544,...,1973-08-14,S,NaN,F,christy12@adventure-works.com,70000.0,0,1825 Village Pl.,NaN,1 (11) 500 555-0162

In [117]:
customer_pd.head(3)

,CustomerKey,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,Gender,EmailAddress,YearlyIncome,TotalChildren,AddressLine1,AddressLine2,Phone
0,11000,Jon,V,Yang,False,1971-10-06,M,NaN,M,jon24@adventure-works.com,90000.0,2,3761 N. 14th St,NaN,1 (11) 500 555-0162
1,11001,Eugene,L,Huang,False,1976-05-10,S,NaN,M,eugene10@adventure-works.com,60000.0,3,2243 W St.,NaN,1 (11) 500 555-0110
2,11002,Ruben,NaN,Torres,False,1971-02-09,M,NaN,M,ruben35@adventure-works.com,60000.0,3,5844 Linden Land,NaN,1 (11) 500 555-0184

In [118]:
currency_pd.head(3)

   CurrencyKey CurrencyAlternateKey    CurrencyName
0            1                  AFA         Afghani
1            2                  DZD  Algerian Dinar
2            3                  ARS  Argentine Peso

In [131]:
iris = spark.read.json('data/iris.json', multiLine=True)

In [135]:
iris.repartition(4).write.csv('iris.csv')

In [136]:
iris_csv = spark.read.csv('iris.csv')
iris_csv.show(5)

+---+---+---+---+----------+
|_c0|_c1|_c2|_c3|       _c4|
+---+---+---+---+----------+
|5.1|1.9|5.8|2.7| virginica|
|6.7|2.0|7.7|2.8| virginica|
|1.5|0.4|5.1|3.7|    setosa|
|3.3|1.0|5.0|2.3|versicolor|
|1.7|0.2|5.4|3.4|    setosa|
+---+---+---+---+----------+
only showing top 5 rows

In [138]:
fis.createOrReplaceTempView('internet_sales')

In [140]:
query = """
SELECT ProductKey, CustomerKey, TotalProductCost, SalesAmount,
    ROW_NUMBER() OVER(ORDER BY SalesAmount) AS RN
FROM internet_sales
"""
df = spark.sql(query)
df.show()

+----------+-----------+----------------+-----------+---+
|ProductKey|CustomerKey|TotalProductCost|SalesAmount| RN|
+----------+-----------+----------------+-----------+---+
|       480|      25795|          0.8565|       2.29|  1|
|       480|      17511|          0.8565|       2.29|  2|
|       480|      16797|          0.8565|       2.29|  3|
|       480|      11257|          0.8565|       2.29|  4|
|       480|      11070|          0.8565|       2.29|  5|
|       480|      29355|          0.8565|       2.29|  6|
|       480|      11835|          0.8565|       2.29|  7|
|       480|      17833|          0.8565|       2.29|  8|
|       480|      11247|          0.8565|       2.29|  9|
|       480|      11008|          0.8565|       2.29| 10|
|       480|      22312|          0.8565|       2.29| 11|
|       480|      11335|          0.8565|       2.29| 12|
|       480|      29042|          0.8565|       2.29| 13|
|       480|      17512|          0.8565|       2.29| 14|
|       480|      16807|          0.8565|       2.29| 15|
|       480|      18958|          0.8565|       2.29| 16|
|       480|      16804|          0.8565|       2.29| 17|
|       480|      23310|          0.8565|       2.29| 18|
|       480|      11168|          0.8565|       2.29| 19|
|       480|      26654|          0.8565|       2.29| 20|
+----------+-----------+----------------+-----------+---+
only showing top 20 rows