# Set tutorial

1. set is unordered
2. set is mutable (changeable)
3. set can not contain duplicate elements

In [7]:
myset = {"apple", "banana", "cherry", "apple"}
myset

{'apple', 'banana', 'cherry'}

In [3]:
len(myset)

3

In [6]:
for i in myset:
    print(i)

cherry
banana
apple

In [10]:
myset.add('lemon')

In [11]:
myset

{'apple', 'banana', 'cherry', 'lemon'}

In [12]:
myset.pop()

'cherry'

In [14]:
myset.pop()

'lemon'

In [15]:
myset

{'apple', 'banana'}

In [16]:
myset.clear()

In [17]:
myset

set()

In [19]:
a = set()
type(a)

set

In [20]:
a = [1, 2, 3, 4, 3, 4, 1]
b = set(a)
b

{1, 2, 3, 4}

In [21]:
list(b)

[1, 2, 3, 4]

In [22]:
set1 = {'a', 'b', 'c'}
set2 = {'a', 'e', 'b', 'f'}

1. Ikkala to'plamga ham kiruvchi elementlar

In [23]:
set1.intersection(set2)

{'a', 'b'}

In [24]:
set1 & set2

{'a', 'b'}

2. Ikkita to'plam yig'indisi

In [25]:
set1.union(set2)

{'a', 'b', 'c', 'e', 'f'}

In [27]:
set1 | set2

{'a', 'b', 'c', 'e', 'f'}

3. Faqat bitta to'plamga kiruvchi elementlar

In [30]:
set1.difference(set2)
set1 - set2

{'c'}

In [31]:
set2.difference(set1)
set2 - set1

{'e', 'f'}

4. Ikkala to'plamni ham faqat bittasida bor elementlar

In [32]:
set1.symmetric_difference(set2)

{'c', 'e', 'f'}

In [33]:
set1 ^ set2

{'c', 'e', 'f'}